/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

main {
    padding: 20px;
}

.item-list {
   
    /* grid-template-columns: auto auto auto auto; */
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
}

.item {

  
    border: 1px solid #ccc;
    text-align: left;
    transition: transform 0.2s ease-in-out;
    word-break: break-all;
}

.bground-purple{
    background-color: rgb(91 58 212);
    color: white;
   
}
/* Responsive styles */

/* Mobile */
@media screen and (max-width: 640px) {
    .item-list{
        display: flex;
    }
    .item {
        
        width: 7rem;
        height: 250px;
        grid-template-columns: auto auto  ;
        padding: 2px;
        margin: 4px;
        /* min-width: 640px; */
    }

    .item img {
        width: 6.8rem;
    height: 150px;
    padding: 1px;
    }
    .bground-purple{
        height: 3rem;
        font-size: 1.5rem;;
    }


}

/* Tablet */
@media screen and (min-width: 641px) and (max-width: 1023px){
    .item-list{
        display: flex;
    }
    .item {
        
    width: 25vw;
    height: 400px;
    grid-template-columns: auto auto auto;
    padding: 9px;
    margin: 14px
    }
   

    .item img {
    width: 24.5vw;
    height: 300px;
    
    }
    .bground-purple{
        height: 5rem;
        font-size: 3rem;;
    }

}

/* Desktop */
@media screen and (min-width: 1024px) {
    .item-list{
        display: flex;
    }
    .item {
       
        width: 15vw;
        height: 400px;
        grid-template-columns: auto auto auto auto;
        padding: 10px;
        margin: 20px;
    }

    .item img {
        width: 14vw;
        height: 300px;
    }
    .bground-purple{
        height: 3.5rem;
        font-size: 1rem;;
       
    }

}